.header {
  min-height: 74px;
  width: 100%;
  max-width: 882px;
  margin: 45px auto 40px auto;
  border-bottom: 1px solid rgba(84,84,84,.7);
}

@media screen and (max-width: 690px) {
  .header {
    min-height: 65px;
  }
}

@media screen and (max-width: 450px) {
  .header {
    min-height: 56px;
    margin-bottom: 42px;
    margin-top: 28px;
  }
}